html {
  scroll-behavior: smooth;
}

.fh5co-project-item {
  .img-responsive {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}