<!DOCTYPE html>
<!--[if lte 8]><html class="pre-ie9" lang="{{ .Site.LanguageCode }}"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js" lang="{{ .Site.LanguageCode }}" dir="{{ .Site.Language.LanguageDirection }}"><!--<![endif]-->
{{ partial "head.html" .}}

<body>
	{{ partial "google-tag-manager/gtm-body" . }}
	{{ partial "nav.html" .}}

	{{ partial "hero.html" .}}

	{{ partial "intro.html" .}}

	{{ if .Site.Params.work.enable }}
	{{ partial "work.html" .}}
	{{ end }}

	{{ if .Site.Params.testimonials.enable }}
	{{ partial "testimonials.html" .}}
	{{ end }}

	{{ if .Site.Params.services.enable }}
	{{ partial "services.html" .}}
	{{ end }}

	{{ if .Site.Params.about.enable }}
	{{ partial "about.html" .}}
	{{ end }}

	{{ if .Site.Params.counters.enable }}
	{{ partial "counters.html" .}}
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	{{ partial "contact.html" .}}
	{{ end }}

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" .}}
	{{ end }}

	{{ partial "js.html" .}}

</body>
</html>